name: CI

on:
  push:
    branches:
      - main
      - "feature/*"
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'

      - name: Run tests
        run: mvn -B test

      - name: Package application
        run: mvn -B package

      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: devcalc-api-jar
          path: target/devcalc-api-1.0-SNAPSHOT.jar
          
  publish-docker-image:
    runs-on: ubuntu-latest
    needs: build-and-test   # só roda se os testes passarem

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile.ci          # <---- AQUI é o pulo do gato
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/devcalc-api:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/devcalc-api:1.0.0
